<div>
Async Sync Chat

<form action="/chat/post" method="post">
  <label for="msg">Enter a message:
    <input type="text" name="msg" id="msg" required>
    <button type="button" id="submitmsg">Post message</button>
  </label>
</form>
</div>
